workflow_2.json
{
  "id": "rYRM9xH9RUtjtxJJ",
  "name": "scrapper",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/home",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0954264b-178a-4118-9ce0-c642663f7104",
      "name": "Webhook",
      "webhookId": "8ab6c55e-719b-45cf-9a10-f8f94a700491"
    },
    {
      "parameters": {
        "jsCode": "const input = (typeof $json.body === 'object' && $json.body !== null) ? $json.body : $json;\n\nfunction normalizeWebsiteId(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return 'test-website-com';\n\n  return raw\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/[#?].*$/, '')\n    .replace(/[^a-z0-9]+/gi, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .toLowerCase();\n}\n\nconst websiteUrl = input.url || input.website_id || input.websiteId || '';\nconst website_id = normalizeWebsiteId(websiteUrl);\n\nreturn [{\n  json: {\n    ...input,\n    website_id,\n    source_url: input.url || input.website_id || input.websiteId || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ],
      "id": "97f1f95b-9443-4567-b540-4c7c196f250c",
      "name": "website-ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "703822e2-3afa-4680-8985-ee1d73bcd592",
              "name": "source_url",
              "value": "={{ (() => { const input = (typeof $json.body === 'object' && $json.body !== null) ? $json.body : $json; return input.url || input.website_id || input.websiteId || ''; })() }}",
              "type": "string"
            },
            {
              "id": "55434851-5e1e-4160-8003-3a9293702f21",
              "name": "website_id",
              "value": "={{ $json.website_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "099b6369-f6a3-4cc9-b1e6-ee12a4a91466",
      "name": "domain-url/wesiteID"
    },
    {
      "parameters": {
        "tableId": "websites",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        -200
      ],
      "id": "2cf1af41-96f6-44c7-a44b-0a601973be56",
      "name": "Create a row",
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.source_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Return-Format",
              "value": "html"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        200
      ],
      "id": "fetch-homepage-node",
      "name": "Fetch Homepage",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extract",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "extract-links-node",
      "name": "Extract Links",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const website_id = $('domain-url/wesiteID').first().json.website_id || 'test-website-com';\nconst baseUrl = $('domain-url/wesiteID').first().json.source_url || '';\nconst baseHostMatch = baseUrl.match(/^https?:\\/\\/([^\\/]+)/i);\nconst baseHost = baseHostMatch ? baseHostMatch[1].replace(/^www\\./i, '') : '';\n\nconst firstItem = $input.first().json || {};\nconst rawLinks = Array.isArray(firstItem.links)\n  ? firstItem.links\n  : [firstItem.links].filter(Boolean);\n\nfunction normalizeCandidate(candidate) {\n  if (!candidate) return null;\n  let url = candidate;\n  if (url.startsWith('/')) {\n    url = (baseUrl.match(/^https?:\\/\\/[^\\/]+/i) || [''])[0] + url;\n  }\n  if (!url.match(/^https?:\\/\\//i)) return null;\n  url = url.split('#')[0].split('?')[0];\n  url = url.replace(/\\/$/, '');\n  return url;\n}\n\nconst validLinks = new Set();\nconst homepage = normalizeCandidate(baseUrl);\nif (homepage) {\n  validLinks.add(homepage);\n}\n\nfor (const link of rawLinks) {\n  const fullUrl = normalizeCandidate(link);\n  if (!fullUrl) continue;\n  const hostMatch = fullUrl.match(/^https?:\\/\\/([^\\/]+)/i);\n  if (hostMatch) {\n    const host = hostMatch[1].replace(/^www\\./i, '');\n    if (host === baseHost) {\n      validLinks.add(fullUrl);\n    }\n  }\n}\n\nreturn Array.from(validLinks).map((url) => ({ json: { url, website_id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "id": "filter-links-node",
      "name": "Filter & Deduplicate",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json.url }}",
        "sendHeaders": false,
        "headerParameters": {
          "parameters": []
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        200
      ],
      "id": "fetch-page-node",
      "name": "Fetch Page HTML",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "extract",
        "extractionValues": {
          "values": [
            {
              "key": "text",
              "cssSelector": "body",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "id": "extract-text-node",
      "name": "HTML Extract",
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fallbackWebsiteId = $('domain-url/wesiteID').first().json.website_id || 'test-website-com';\n\nreturn items.map((item) => {\n  const json = item.json || {};\n  const website_id = json.website_id || json.metadata?.website_id || fallbackWebsiteId;\n  const url = json.url || json.metadata?.url || '';\n  const pageText = typeof json.text === 'string' ? json.text.trim() : '';\n  const fallbackText = typeof json.data === 'string' ? json.data.trim() : '';\n  const content = pageText || fallbackText || '';\n\n  return {\n    json: {\n      text: content,\n      content,\n      website_id,\n      url,\n      metadata: {\n        website_id,\n        url\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ],
      "id": "format-document-node",
      "name": "Format for LangChain",
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "crawled_pages",
          "mode": "list",
          "cachedResultName": "crawled_pages"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2000,
        200
      ],
      "id": "1037a4a4-c1c3-49f1-9f60-4d308203a610",
      "name": "Supabase Vector Store",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "UZ4yE2ZemGK5Pfu3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "website_id",
                "value": "={{ $json.metadata.website_id }}"
              },
              {
                "name": "url",
                "value": "={{ $json.metadata.url }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2050,
        400
      ],
      "id": "84f2c3ae-aee4-4d58-9cdb-3243bf175326",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2050,
        600
      ],
      "id": "f63d44a3-02a9-405f-88af-85df394b2c19",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1950,
        400
      ],
      "id": "56d33afa-ea34-45e5-8a85-8b05572b406a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "mjgjHnFh14jsAK5u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst firstItem = items[0]?.json || {};\nconst website_id = firstItem.metadata?.website_id || firstItem.website_id || 'test-website-com';\nconst frontendBase = 'http://localhost:5174';\n\nlet totalTextLength = 0;\nfor (const item of items) {\n  if (item.json && typeof item.json.text === 'string') {\n    totalTextLength += item.json.text.trim().length;\n  }\n}\n\nif (totalTextLength < 50) {\n  return [{\n    json: {\n      success: false,\n      website_id,\n      error: 'Could not extract text from this website. It likely blocks bots or requires a JavaScript-enabled crawler (like Puppeteer/Firecrawl).'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    website_id,\n    chatbot_url: frontendBase + '/bot/' + website_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        200
      ],
      "id": "3fcab61c-6863-417e-8404-1d29c70b9b01",
      "name": "Response Logic"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 400 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2600,
        200
      ],
      "id": "respond-webhook-node",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "website-ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "website-ID": {
      "main": [
        [
          {
            "node": "domain-url/wesiteID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "domain-url/wesiteID": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Homepage": {
      "main": [
        [
          {
            "node": "Extract Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Links": {
      "main": [
        [
          {
            "node": "Filter & Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Deduplicate": {
      "main": [
        [
          {
            "node": "Fetch Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page HTML": {
      "main": [
        [
          {
            "node": "Format for LangChain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for LangChain": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Response Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Logic": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "rYRM9xH9RUtjtxJJ",
  "name": "scrapper",
  "active": true,
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  }
}