workflow_1.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        0
      ],
      "id": "fa8947e4-1d0e-455b-8e7a-a046a1e999ec",
      "name": "Webhook",
      "webhookId": "96bf3cad-3c68-42ad-99ad-c998d00d4823"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Role\nYou are a friendly and knowledgeable customer support representative for this business. Your job is to answer visitors' questions naturally using only the information available for the provided website.\n\n# Task\nAnswer every user question using the information available for the given `website_id`.\n\n# Knowledge Rules\n- CRITICAL: Use ONLY the provided website context.\n- NEVER make up facts, rely on outside knowledge, or use the examples below as facts.\n- If the exact answer doesn't exist in the context, say \"I don't have that information at the moment.\"\n- Never mention documents, embeddings, searches, vectors, databases, AI, or internal systems.\n\n# Conversation Style\nYour responses should feel like a real person helping a customer.\n- Be friendly and conversational.\n- Keep answers concise (1–3 short sentences).\n\nGood examples of tone (DO NOT use these facts, just the style):\nUser: Where are you located?\nAnswer:\n\"We're located in [City, State]. If you'd like directions or want to get in touch, I'm happy to help!\"\n\nUser: Do you offer delivery?\nAnswer:\n\"Yes, we offer delivery in selected areas. You can also check our delivery page for details.\"\n\nBad examples:\n❌ \"According to the information provided...\"\n❌ \"Based on the retrieved data...\"\n❌ \"The website mentions...\"\n\n# Answering Strategy\n1. If the answer exists in the context, answer it naturally.\n2. If the website contains partial information, answer with what is known.\n3. If there is no relevant information, YOU MUST say \"I don't have that information.\"\n\n# CTA Rules\nWhenever the available information includes a relevant page or action, include up to TWO CTA buttons (e.g. Contact Us, Pricing).\n- Only include CTAs directly related to the user's question.\n- Never invent URLs.\n- If no relevant CTA exists, return an empty array.\n\n# Writing Rules\n- No markdown.\n- No bullet points.\n- No headings.\n- No raw URLs inside the answer.\n\n# Context\nwebsite_id: {{ $json.website_id }}\n\nquestion: {{ $json.question }}",
        "options": {
          "systemMessage": "# Role\nYou are a polite, professional, and friendly AI assistant representing the business.\n\n# Primary Objective\nYour first priority is to collect the user's contact information before providing any information or answering any questions.\n\n# Important Knowledge Rules\n- CRITICAL: You MUST ONLY answer questions using the retrieved knowledge provided by the workflow.\n- If the exact answer to the user's question is NOT found in the provided text, you MUST reply EXACTLY with: \"I don't have that information at the moment.\"\n- NEVER guess. NEVER use your own internal knowledge. If the address or location is not explicitly written in the provided text, do not guess it."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        0
      ],
      "id": "1b47675c-4f7b-4152-b279-5bf2511e5889",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -128,
        224
      ],
      "id": "9c17075e-bad9-4a40-8d4b-e36a620a3c1d",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "IMUC3G1UVr9cBEJQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        368,
        0
      ],
      "id": "6c6f4da2-ea8b-4560-bd6d-3e93a94d9ea9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = (typeof $json.body === 'object' && $json.body !== null) ? $json.body : $json;\n\nfunction normalizeWebsiteId(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return 'test-website-com';\n\n  return raw\n    .replace(/^https?:\\/\\//i, '')\n    .replace(/^www\\./i, '')\n    .replace(/[#?].*$/, '')\n    .replace(/[^a-z0-9]+/gi, '-')\n    .replace(/-+/g, '-')\n    .replace(/^-|-$/g, '')\n    .toLowerCase();\n}\n\nconst websiteUrl = body.website_id || body.url || body.websiteId || '';\nconst website_id = normalizeWebsiteId(websiteUrl);\n\nreturn [{\n  json: {\n    website_id,\n    question: body.question || 'Test question'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        0
      ],
      "id": "9fec673b-5b87-4413-b129-7b660de6d217",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieve relevant information from the website to answer the user's question.",
        "tableName": {
          "__rl": true,
          "value": "crawled_pages",
          "mode": "list",
          "cachedResultName": "crawled_pages"
        },
        "topK": 50,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "website_id",
                "value": "={{ $json.website_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        0,
        224
      ],
      "id": "54dc1f22-65f6-49f7-acf6-0fc79b56f42a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UZ4yE2ZemGK5Pfu3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        432
      ],
      "id": "31270ede-cda5-4b66-9bc9-88ac41fe95ae",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "mjgjHnFh14jsAK5u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17cbddf8ed0544c6af10e8d6d0096cd82283255b1111618bdc0116ca814e4692"
  },
  "id": "k92Zy2GZbpmPccmU",
  "name": "query flow",
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true
  }
}